body {
    background-color: #ffffff;
}

#body-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: League Spartan;
}

.body-container--header {
    letter-spacing: 1px;
}

#body--para1-container {
    font-size: 50px;
    margin-top: 10%;
    margin-left: 10%;
    color: #552054;
    font-weight: bolder;
}


#body--para2-container {
    margin-right: 20%;
    margin-left: 15%;
    color: #9b949b;
    line-height: 24px;
    font-weight: bolder;
}

.rate-containers {
    font-size: 20px;
    color: #44293e;
    padding: 2px;
    font-weight: bolder;
    font-family: League Spartan;
}

.rate1-containers {
    margin-left: 1px;
    border-radius: 7px #cce7e8;
    background-color: #f7f2f8;
    border-radius: 8px;
    margin: 2px;
    margin-top: 15%;
    margin-right: 35%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.rate2-containers {
    margin: 2%;
    border-radius: 7px #cce7e8;
    background-color: #f7f2f8;
    border-radius: 8px;
    margin-right: 15%;
    margin-left: 10%;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.rate3-containers {
    margin: 2%;
    margin-right: 10%;
    margin-left: 22%;
    border-radius: 7px #cce7e8;
    background-color: #f7f2f8;
    border-radius: 8px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.rate--stars {
    margin-left: 15%;
}

#body--para2-containers {
    font-size: 20px;
    color: #634e69;
    text-align: justify;
}

#head-footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    margin-right: 40px;
    margin-left: 0px;
}

.foot-box1 {
    margin-top: 1px;
    padding: 10px;
    border-radius: 10px;
    background-color: #511f50;
    color: whitesmoke;
    margin-bottom: 20%;
    margin-left: 15%;
}

.foot-box2 {
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5%;
    background-color: #511f50;
    color: whitesmoke;
    margin-bottom: 15%;
}

.foot-box3 {
    margin-top: 40px;
    margin-left: 5%;
    padding: 10px;
    border-radius: 10px;
    background-color: #511f50;
    color: whitesmoke;
    margin-bottom: 10%;
}

.foot--image {
    display: flex;
}

.image {
    border-radius: 50%;
    margin-top: 15px;
    border: 2px solid whitesmoke;
}

.foot--desc {
    font-size: 13px;
    margin: 10px;
    color: rgba(205, 120, 175, 255);
}

.author-name {
    padding-top: 15px;
    margin: 10px;
}

.footer-name-about {
    padding: 15px;
    line-height: 20px;
}

@media screen and (min-width:320px) and (max-width:425px) {
    #body-container {
        display: flex;
        flex-direction: column;
    }

    .rate1-containers {
        display: flex;
        flex-direction: column;
        margin: 10px;
        font-size: 15px;
    }

    .rate--text {
        margin-left: 45px;
        padding: 0px;
        margin-bottom: 5px;
    }

    .rate--stars {
        display: flex;
        margin-left: 25%;
        padding: 0px;
        line-height: 0px;
        margin-top: 30px;
    }

    #body--para2-container {
        line-height: 24px;
        font-family: League Spartan;
        margin: 0px;
    }

    #body--para1-container {
        padding-right: 1px;
        margin-left: 60px;
        font-size: 30px;
    }

    #head-footer-container {
        display: flex;
        flex-direction: column;
    }

    .foot-box1,
    .foot-box2,
    .foot-box3 {
        margin: 5px;
        border-radius: 5px;
    }

    .footer-name-about {
        font-size: 15px;
        padding: 5px;
        line-height: 17px;
    }
}

@media screen and (min-width:426px) and (max-width:768px) {

    .rate-containers{
        border: 1px solid black;
        height: 170px;
        margin-top: 90px;
    }

    .rate1-containers {
        margin-left: 0px;
        margin: 2px;
        font-size: 15px;
    }

    #head-footer-container {
        margin-right: 0px;
    }

    .foot-box1,
    .foot-box2,
    .foot-box3 {

        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        height: 90%;
        width: 90%;
        margin: 5px;
    }
}